@import "tailwindcss";
@import "fumadocs-ui/css/solar.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-openapi/css/preset.css";

:root {
	--fd-layout-width: 1600px;
	--font-display: var(--font-bricolage);
}

.dark {
	--color-fd-primary: #08a84e;
	--color-fd-primary-foreground: #ffffff;
}

pre,
code {
	-moz-tab-size: 2;
	tab-size: 2;
}
